<hr>
<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
    <input type="search" class="form-control" id="search" formControlName="search" aria-describedby="search" placeholder="recherche" style="margin-bottom: 20px;">
  <div class="form-group" style="margin-bottom: 20px;width: 50%;">
    <input type="tag" formControlName="tag" class="form-control" id="tag" aria-describedby="tag" placeholder="tag">
  </div>
  <button type="submit" class="btn btn-primary" style="width: 100%; margin-bottom: 20px;">Rechercher</button>
</form>
<div class="list-group" >
    <button   class="list-group-item list-group-item-action flex-column align-items-start " *ngFor="let article of articlesMatch" >
        <div (click)="selectArticle(article.id)">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{ article.name | slice:0:150 }}</h5>
          <small>{{ article.createdAt }}</small>
        </div>
        <p class="mb-1">{{ article.content | slice:0:150  }}</p>
        <small>{{ article.reference  }}</small>
      </div>
    </button>
  </div>