<div class="float-left"  style="width: 65%;">
    <div class="card" style="height: 600px;">
        <div class="card-header">
            {{ article.name }}
        </div>
        <div class="card-body">
            <h5 class="card-title">Ecrit par  </h5>
            <p class="card-text">{{ article.content }}</p>
        </div>
      </div>
</div>

<div class="float-right" style="width: 30%;">
    <app-article-list (refreshDetail)="refresh($event)"></app-article-list>
</div>
