<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link " routerLink="/">Se connecter</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" routerLink="/register">S'enregistrer</a>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <h5 class="card-title">Inscrivez vous gratuitement</h5>
    <form [formGroup]="checkoutForm"  (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="username">
          Username
        </label>
        <br>
        <input id="username" type="text" formControlName="username" style="width: 40%">
      </div>
      <div>
        <label for="email">
          Email
        </label>
        <br>
        <input id="email" type="text" formControlName="email" style="width: 40%">
      </div>
      <div>
        <label for="password">
          Mot de passe
        </label>
        <br>
        <input id="password" type="text" formControlName="password" style="width: 40%">
      </div>
      <div>
        <label for="role">
          Role
        </label>
        <br>
        <select id="role" formControlName="role" style="width: 40%">
          <option>Admin</option>
          <option  >Utilisateur</option>
        </select>
      </div>
      <br>
      <button class="button" class="btn btn-primary" type="submit">S'inscrire</button>
    </form>
    <br>
    <div *ngIf="valid == false"  class="alert alert-danger">
      Veuillez corriger les erreurs dans le formulaire
    </div>
    <div *ngIf="registered == true"  class="alert alert-success">
      Félicitations, vous êtes à présent inscrit
    </div>
  </div>

</div>
