<div class="card text-center">
    <div class="card-body">
      <h5 class="card-title">Créer un article</h5>
      <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="inputName">Nom de article*</label>
          <input type="text" formControlName="name" class="form-control" id="inputName" aria-describedby="name" >
        </div>
        <div class="form-group">
            <label for="inputReference">Référence*</label>
            <input type="text" class="form-control" formControlName="reference"  id="inputReference" aria-describedby="reference" >
          </div>
          <div class="form-group">
            <label for="inputTag">Tag</label>
            <input type="text" class="form-control" id="tag" formControlName="tag"  aria-describedby="tag" >
          </div>
        <div class="form-group">
            <label for="inputName">Contenu*</label>
            <textarea type="text" class="form-control" id="content" formControlName="content"  aria-describedby="name" rows="10" ></textarea>
          </div>
          <div class="form-group">
            <label for="draft">Brouillon*</label>
            <select class="form-control" id="draft" formControlName="draft"  aria-describedby="draft"  >
              <option>Oui</option>
              <option selected>Non</option>
            </select>
          </div>
        <button type="submit" class="btn btn-primary" >Submit</button>
      </form>
      <br>
      <div *ngIf="valid == false"  class="alert alert-danger">
        Veuillez corriger les erreurs dans le formulaire
      </div>
      <div *ngIf="created == true"  class="alert alert-success">
        Félicitations, vous avez bien Créer l'article
      </div>
    </div>
  </div>
  