<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link active" routerLink="/">Se connecter</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/register">S'enregistrer</a>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <div *ngIf="this.logged">
      <h5 class="card-title">Bienvenue sur le test de Vallourec</h5>
      <p class="card-text">N'attendez plus pour commencer à ecrire votre premier article.</p>
      <a  routerLink="article/new" class="btn btn-primary">Ecrire un article</a><br><br>
      <a class="btn btn-primary"  (click)="logout()">Se deconnecter</a>
    </div>
    <div *ngIf="!logged">
    <h3>Se connecter</h3>    
    <p *ngIf="message" class="text-center error">{{message}}</p>    
    <form [formGroup]="loginForm" (ngSubmit)="login()">    
            <input type="text" class="form-control" formControlName="userid" placeholder="utilisateur" style="margin-bottom: 10px;" />    
            <input type="password" class="form-control" formControlName="password" placeholder="Mot de passe" style="margin-bottom: 10px;" />    
            <button class="btn btn-primary" style="width: 200px;" type="submit">Login</button>    
    </form> 
  </div>   
  </div>
</div>
